---
import { getAllPosts, getUniqueTagsWithCount } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
const translateForLang = useTranslatedPath(currentLang);
const localizedPosts = await getAllPosts(currentLang);
const allTags = getUniqueTagsWithCount(localizedPosts);


const meta = {
	description: "Перелік доступних тегів українською",
	title: "Усі теги",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">Теги</h1>
	<ul class="space-y-4">
		{
			allTags.map(([tag, val]) => (
				<li class="flex items-center gap-x-2">
					<a class="cactus-link inline-block" href={translateForLang(`/tags/${tag}/`)} title={`View posts with the tag: ${tag}`}>
						&#35;{tag}
					</a>
					<span class="inline-block">
						- {val} пост{val > 1 && "ів"}
					</span>
				</li>
			))
		}
	</ul>
</PageLayout>
